body
  margin 0
  overflow hidden
  font-size 16px
p, ul
  margin 0
  padding 0
li
  list-style none
input
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size inherit
  box-sizing border-box
  height 40px
  border-radius 3px
  border solid 1px #ddd
  padding 0 9px
  font-size 16px
  outline none
textarea
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size inherit
  box-sizing border-box
  border-radius 3px
  border solid 1px #ddd
  padding 4px 9px
  font-size 16px
  outline none
  resize none
.tc-card
  border-radius 5px
  background-color #fff
  padding 20px
  box-shadow 0 2px 4px #0001
  min-width 320px
.tc-title
  font-weight bold
  font-size 1.6em
  line-height 40px
  margin 0
.tc-form-line
  position relative
  margin 20px 0
  line-height 40px
  width 320px
  height 40px
  input
    float right
    transition border-left .4s
.no-data
  font-size 14px
  color #bbb
  text-align center
  background-color #f9f9f9
  line-height 40px
.clear
  clear both
.code
  font-family "Consolas","Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace
hr
  margin 30px 0
  border none
  height 2px
  background: #eee
.mask
  top 0
  left 0
  position fixed
  width 100%
  height 100%
  z-index 50
  background-color #0004
.input-active
  border-color #0d85da
  // box-shadow 0 0 6px #0d85da66
.input-error
  border-color #e00b27
.button-blue
  background-color #0072c1
  cursor default
  line-height 40px
  border-radius 3px
  color #fff
  text-align center
  div
    border-radius 3px
    transition background-color .4s, transform .4s
    background-color #bbb
.button-active
  cursor pointer
  div
    background-color #0d85da
    transform translateY(-10px)
    &:hover
      transform translateY(-6px)
.input-data-box
  background-color #fff
  position relative
  input
    width 100%
    font-size inherit
    height calc(5em - 40px)
    line-height calc(5em - 40px)
    transition 0.4s
    background-color transparent
    position relative
    z-index 4
  .input-default
    position absolute
    line-height calc(5em - 40px)
    top 0
    left 0
    padding-left 10px
    color #ddd

.position-r
  position relative

// main-color
.normal
  color #2fa4d9
.warning
  color #ed951f
.error
  color #d80315
.b-default
  background-color #999999
.b-normal
  background-color #2fa4d9
.b-warning
  background-color #ed951f
.b-error
  background-color #d80315